.aboutContent{
    margin-top: 15%;
}
.ceo{
    background-image:url('https://res.cloudinary.com/ddwkojhaj/image/upload/w_500,f_auto,q_auto/v1678109681/daniel-alexander-jinLKGDtJpE-unsplash_wuyuo9.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
}
.abtCeo{
    margin: 0 auto;
    max-inline-size: 40ch;
    font-size: 20px;
    padding-top: 6%;
}
.coreWrapper{
    background-color: #000;
    padding-bottom: 17px;
    margin-top: 2%;
}