/* HERO */
.contentWrapper,
.aboutHero,
.serviceHero {
  /* background: linear-gradient(69.35deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)99.45%), linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1677924163/banner_fza0hn.jpg") no-repeat center; */
  height: 600px;
  background-size: cover;
  background-position: center;
}

.contentWrapper {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/f_auto,q_auto/v1678367301/pexels-cottonbro-studio-5990270_ewl94m.jpg");
}

.aboutHero {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/f_auto,q_auto/v1678440791/medium-shot-smiley-woman-teaching_xzvtxd.jpg");
}

.serviceHero {
  background-image: url('https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1678537649/african-american-woman-works-call-center-operator-customer-service-agent-wearing-microphone-headsets-working-laptop_mo44mw.jpg');
}

.mobileContent {
  display: none;
}

.heroLeft {
  background-color: #000;
  height: 600px;
  position: relative;

}

.contentHero {
  position: absolute;
  top: 12%;
  padding-left: 15%;
  padding-right: 15%;
}

.contentHero>p:nth-child(1) {
  color: #030303;
  font-size: 50px;
  font-weight: 600;
  line-height: 57.12px;
  color: #fff;
  line-height: 65px;
  letter-spacing: 0.034rem;
  max-inline-size: 15ch;
}

.contentHero>p:nth-child(2) {
  color: #BCC0C5;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  line-height: 25px;
  letter-spacing: 0px;
  max-inline-size: 36ch;
  margin-top: 35px;
}

.subHero>p:nth-child(2) {
  margin-top: -10px;
}

/* BUTTON */
.orangeButton {
  background-color: #4158D0;
  color: #f3f3f3;
  text-transform: capitalize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 1rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 20px;
  transform: translateY(0);
  transition: all .3s ease-in-out;
}

.buttonAnime>a {
  text-decoration: none !important;
}

.orangeButton:hover {
  transform: translateY(-0.15rem);
  color: #fff;
  box-shadow: 0 0.25rem 0.75rem rgb(30 34 40 / 15%);
  transition: all .3s ease-in-out;
}

.buttonContainer {
  margin-bottom: 10%;
}

.buttonContainer>a {
  text-decoration: none;
}

/* LEFT AND RIGHT SECTION */
.leftCont,
.rightCont {
  padding: 30px 0px;
  width: 100%;
}

.leftCont {
  background-color: #030303;
}

.rightCont {
  background-color: #fff;
}

.rightCont>p:nth-child(1) {
  font-size: 30px;
  line-height: 33px;
  max-inline-size: 25ch;
  padding-left: 15%;
}

.rightCont>p:nth-child(2) {
  font-size: 14px;
  text-transform: uppercase;
  color: #969AA6;
  line-height: 3px;
  padding-left: 15%;
}

.block {
  display: block;
  color: #fff;

}

.block>p:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
  line-height: 49px;
  display: flex;
  justify-content: center;
}

.block>p:nth-child(2) {
  font-size: 0.86667rem;
  display: flex;
  justify-content: center;
}

/* ABOUT US */
.AboutWrapper {
  margin-top: 2%;
}

.abtTitleContainer {
  padding: 0px 11%;
}

.Atitle {
  font-size: 30px;
  font-weight: 700;
  color: #f78b77;
  text-transform: uppercase;
  padding-top: 13%;
  padding-bottom: -9%;
}

.title {
  /* padding-top: 5.4%; */
  font-size: 20px;
  font-weight: 800;
  color: #354053;
  max-inline-size: 40ch;
  padding: 0px 11%;
}

.title>p:nth-child(2) {
  font-size: 18px;
  font-weight: normal;
  color: #354053;
  line-height: 30px;
}

.imageOne,
.imageTwo,
.imageThree {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.imageOne {
  background-image: url('https://res.cloudinary.com/ddwkojhaj/image/upload/w_500,f_auto,q_auto/v1678088632/img3_jyhcay.jpg');
}

.imageTwo {
  background-image: url('https://res.cloudinary.com/ddwkojhaj/image/upload/w_500,q_auto,f_auto/v1677925439/img6_q15s32.jpg');
}

.imageThree {
  background-image: url('https://res.cloudinary.com/ddwkojhaj/image/upload/w_500,f_auto,q_auto/v1677925425/img2_v4dtue.jpg');
}

/* COMMUNITY */
.communityContent {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.communityContent>p:nth-child(1) {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .02rem;
}

.communityContent>p:nth-child(2) {
  font-size: calc(0.915rem + 1.28vw);
  font-weight: 600;
  letter-spacing: .002rem;
}

.communityContent>p:nth-child(3) {
  font-size: calc(0.915rem + 1.28vw);
  font-weight: 600;
  letter-spacing: .002rem;
  margin-top: -2%;
}

.comButton {
  display: flex;
  justify-content: center;
}

.comButton>a {
  text-decoration: none;
}

.communityWrapper {
  position: relative;
  height: 400px;
  background: linear-gradient(69.35deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)99.45%), linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://res.cloudinary.com/ddwkojhaj/image/upload/w_500,f_auto,q_auto/v1677925216/community_s0dawj.jpg") no-repeat 10% -130%;
  background-size: cover;
  background-attachment: fixed;
}

/* CARD */
.card {
  margin-top: 7%;
  height: 100%;
  padding: 20px;
  transition: all .4s ease;
}

.card:hover {
  background-color: #354053;
  color: #f3f3f3;
  width: 100%;
  transition: all .4s ease;
}

.cardContent>p:nth-child(1) {
  margin-top: 20px;
  color: #969AA6;
  font-size: calc(0.2rem + 0.5vw);
  text-transform: uppercase;
  letter-spacing: .02rem;
  font-weight: 700;
}

.cardContent:hover {
  color: #f3f3f3;
}

.cardContent>a {
  text-decoration: none;
}

.cardContent>p:nth-child(2) {
  margin-top: -20px;
  font-size: calc(0.6rem + 0.7vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: .02rem;
  text-transform: uppercase;
}

.contentLink>a {
  color: #fff;
}

/* SERVICES */
.titleContainer {
  margin-top: -9%;
}

.serviceWrapper {
  background-color: #000;
  padding-bottom: 2%;
  margin: 0;
}

.imgWrapper,
.imgTeamWrapper {
  overflow: hidden;
}

.imgWrapper>img {
  transition: transform .9s ease;
  border-radius: 50%;
}

.imageContainer {
  width: 54px;
  background-color: #f78b77;
  padding: 10px;
}

.slug {
  color: #fff;
}

.serviceButton {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

.serviceButton>a {
  text-decoration: none;
}


/* TEAM */

.imgTeamWrapper>img {
  transition: transform .9s ease;
  border-radius: 0.04rem;
}

.imgTeamWrapper:hover img {
  transform: scale(1.2);
}

.teamWrapper {
  margin-top: 2%;
}

.teamLeadText {
  font-weight: 700;
  font-size: calc(0.8rem + 1.2vw);
  max-inline-size: 20ch;
}

.teamLeadSubText {
  font-weight: 400;
  font-size: calc(0.4rem + 0.9vw);
}

.teamPhoto {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.teamName>p:nth-child(1) {
  color: #354053;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 18px;
  letter-spacing: .02rem;
}

.teamName>p:nth-child(2) {
  color: #969AA6;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .02rem;
}

/* POST */
.postHero {
  background-color: #000;
  padding: 30px 0;
}

.postHero>p {
  font-size: 2rem;
  text-align: center;
  color: #f3f3f3;
  text-transform: uppercase;
  font-family: 'Poppins';
}

.postContent {
  padding-top: 4%;
  font-size: 1.1rem;
  font-weight: 500;
}

/* FOOTER */
.footerWrapper {
  margin-top: 10%;
}

.borderWidth {
  border-top: 1px solid #969AA6;
  border-bottom: 1px solid #969AA6;
}

.footerContactText {
  margin-top: 7%;
}

.footerContactText>p {
  color: #354053;
  font-size: calc(1.3rem + 1.5vw);
  font-weight: 700;
  text-transform: capitalize;
  max-inline-size: 17ch;
}

.footerButton>a {
  text-decoration: none;
}

.mainLocation>p {
  color: #354053;
  font-size: 22px;
  font-weight: 400;
  line-height: 105%;
  display: block;
}

.address>p {
  color: #354053;
  font-size: 17px;
  line-height: 105%;
  font-weight: 300;
  padding-bottom: 10%;
}

.terms {
  display: flex;

}

.terms>a {
  font-size: 15px;
  color: #354053;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 106%;
  padding: 30px 0px;
  text-decoration: none;
}

.terms>a>p {
  padding: 0px 10px;
  transition: all .4s ease;
}

.terms>a>p:hover {
  color: #4158D0;
  transition: all .4s ease;
}

.iconContainer {
  padding: 25px 0px;
  display: flex;
  justify-content: flex-end;
}

.iconContainer>a>img {
  margin: 0px 10px;
  background-color: #BCC0C5;
  padding: 5px;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.noirFooter {
  background-color: #181616;
  height: 100px;
}

.copyright {
  color: #BCC0C5;
  font-weight: 500;
  font-size: 16px;
  line-height: 160.5%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}


/* Mobile */
@media (max-width: 767px) {
  .contentWrapper {
    background: linear-gradient(69.35deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)99.45%), linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1677924163/banner_fza0hn.jpg") no-repeat center;
    height: 400px;
    background-size: cover;
  }

  .heroLeft {
    height: 400px;
  }
  .mobileContent{
    display: block;
    color: #f3f3f3;
  }
  .mobileContent>p:nth-child(1){
    font-size: 30px;
    max-inline-size: 20ch;
    margin: 0 auto;
    padding: 17% 15% 10px 15%;
    text-align: center;
  }
  .mobileContent>p:nth-child(2){
    font-size: 15px;
    text-align: center;
    padding: 0px 10%;
    max-inline-size: 33ch;
    margin: 0 auto;
  }

  .contentHero>p:nth-child(1) {
    margin-top: 10%;
    font-size: 0.8rem;
    line-height: 22px;
  }

  .contentHero>p:nth-child(2) {
    font-size: 0.6rem;
    margin-top: 0px;
    max-inline-size: 20ch;
    line-height: 12px;
    word-spacing: 2px;
  }

  .subHero {
    font-size: calc(1.02rem + 1.8vw);
  }

  .rightCont>p:nth-child(1) {
    font-size: 20px;
    text-align: center;
    max-inline-size: 66ch;
    padding: 0px 32px;
  }

  .rightCont>p:nth-child(2) {
    font-size: 12px;
    text-align: center;
    padding: 0;
  }

  .Atitle {
    text-align: center;
    display: block;
    line-height: 36px;
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .title {
    text-align: center;
  }

  .title>p:nth-child(2) {
    text-align: center;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
  }

  .titleOne {
    text-align: center;
  }

  .titleOne>p:nth-child(2) {
    text-align: center;
  }

  .communityContent>p:nth-child(1) {
    padding-top: 10%;
    font-size: 13px;
  }

  .communityContent>p:nth-child(2) {
    font-size: 20px;
  }

  .comButton {
    display: flex;
    justify-content: center;
  }

  .terms {
    display: flex;
    justify-content: space-around;
  }

  .terms>a>p {
    padding: 0;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
  }

  .card {
    text-align: center;
  }

  .cardContent>p:nth-child(1) {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .slug {
    font-size: 14px;

  }

  .teamLeadText {
    max-inline-size: 50ch;
  }

  .teamLeadSubText {
    max-inline-size: 30ch;
    margin: 0 auto;
  }

  .teamName {
    text-align: center;
  }

  .card:hover {
    background-color: transparent;
  }

  .hiddenCol {
    display: none;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .contentHero {
    margin-top: 20%;
  }

  .contentHero>p:nth-child(1) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .contentHero>p:nth-child(2) {
    font-size: 0.96rem;
  }

  .rightCont>p:nth-child(1) {
    max-inline-size: 66ch;
    padding: 0;
    text-align: center;
  }

  .rightCont>p:nth-child(2) {
    text-align: center;
    padding: 0;

  }
}

@media (min-width: 1280px) {
  .contentHero {
    top: 0%;
  }

  .contentHero>p:nth-child(1) {
    font-size: 50px;
    line-height: 57.12px;
    letter-spacing: 0.034rem;
    max-inline-size: 15ch;
  }

  .rightCont>p:nth-child(1) {
    padding: 0px 30px;
  }

  .rightCont>p:nth-child(2) {
    line-height: 0px;
  }
}

@media(max-width: 768px) {

  .imageOne,
  .imageTwo,
  .imageThree {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {}